.ld-float{
    position:fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    background-color: rgba(18, 234, 61, 0.062);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    width: 20vw;
    height: 20vh;
}

.ld-float div {
    margin-bottom: 10px;
  }